.content_colorbox{padding:10px;}
.content_colorbox img{margin:0 auto 10px auto; display:block;}
.content_colorbox .title{margin:0 0 20px 0;font-weight:bold;display:block;}
.content_colorbox p .title{margin: 0 0 5px 0;}